In [1]:
import pandas as pd

In [6]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 2.5 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
df = pd.read_excel('W8D2 flight data.xlsx')
df.head()

,city from,city to,pop city from 1000s,pop city to 1000s,distance betw cities m,avg fare dollars 2000 q4,avg weekly passengers 2000 q4,avg fare dollars 2001 q4,avg weekly passengers 2001 q4
0,ABE,CLE,613.84,2908.44,339.0,322.20,23.36,326.70,18.58
1,ABE,CLT,613.84,1350.24,480.0,250.27,52.60,241.53,35.76
2,ABE,CMH,613.84,1460.24,395.0,259.29,19.23,240.71,14.23
3,ABE,DEN,613.84,2318.36,1539.0,202.77,80.97,209.82,55.10
4,ABE,DFW,613.84,4683.01,1308.0,344.47,45.54,293.50,40.21

In [9]:
stats=df.describe(include='all')
print(stats)

       city from city to  pop city  from 1000s  pop city to 1000s  \
count       4176    4175           4175.000000        4175.000000
unique       197     184                   NaN                NaN
top          ATL     IAD                   NaN                NaN
freq         142     148                   NaN                NaN
mean         NaN     NaN           2374.735272        2553.425013
std          NaN     NaN           3307.832747        3737.031552
min          NaN     NaN             14.870000          18.250000
25%          NaN     NaN            503.950000         611.810000
50%          NaN     NaN           1164.720000        1460.240000
75%          NaN     NaN           2792.140000        2722.650000
max          NaN     NaN          19876.490000       19876.490000

        distance betw cities m  avg fare dollars 2000 q4  \
count              4175.000000               4175.000000
unique                     NaN                       NaN
top                        NaN                       NaN
freq                       NaN                       NaN
mean               1046.826108                209.956857
std                 614.768012                 70.642935
min                  72.000000                 61.110000
25%                 565.000000                158.570000
50%                 911.000000                206.500000
75%                1420.500000                254.515000
max                2724.000000                529.700000

        avg weekly passengers 2000 q4  avg fare dollars 2001 q4  \
count                     4175.000000               4175.000000
unique                            NaN                       NaN
top                               NaN                       NaN
freq                              NaN                       NaN
mean                       226.855638                188.596857
std                        530.669697                 59.691852
min                         10.000000                 57.510000
25%                         30.970000                146.300000
50%                         61.840000                183.020000
75%                        182.060000                228.345000
max                       7676.410000                528.350000

        avg weekly passengers 2001 q4
count                     4175.000000
unique                            NaN
top                               NaN
freq                              NaN
mean                       206.690187
std                        471.182221
min                         10.000000
25%                         28.360000
50%                         57.710000
75%                        169.995000
max                       8084.020000

In [10]:
df.describe()

,pop city from 1000s,pop city to 1000s,distance betw cities m,avg fare dollars 2000 q4,avg weekly passengers 2000 q4,avg fare dollars 2001 q4,avg weekly passengers 2001 q4
count,4175.000000,4175.000000,4175.000000,4175.000000,4175.000000,4175.000000,4175.000000
mean,2374.735272,2553.425013,1046.826108,209.956857,226.855638,188.596857,206.690187
std,3307.832747,3737.031552,614.768012,70.642935,530.669697,59.691852,471.182221
min,14.870000,18.250000,72.000000,61.110000,10.000000,57.510000,10.000000
25%,503.950000,611.810000,565.000000,158.570000,30.970000,146.300000,28.360000
50%,1164.720000,1460.240000,911.000000,206.500000,61.840000,183.020000,57.710000
75%,2792.140000,2722.650000,1420.500000,254.515000,182.060000,228.345000,169.995000
max,19876.490000,19876.490000,2724.000000,529.700000,7676.410000,528.350000,8084.020000

In [ ]:
#H0: there is no significant changes in fare prices between 2000 and 2001

In [ ]:
#Lab Inferential statistics
#H0: there is no significant difference between the sample and the population mean

In [11]:
import math

sample_mean = 130.1
pop_mean = 120
sample_std = 21.21
n = 100
statistic = (sample_mean - pop_mean)/(sample_std/math.sqrt(n))
print("Statistic is: ", statistic)

Statistic is:  4.761904761904759

In [ ]:
#as the statistic is higher then 1,96 (two tailed T test, alpha 0,05), we DO REJECT the H0.

In [ ]:
#Lab Inferential statistics - T-test & P-value

In [12]:
# 2 sample t test 

sample_mean1 = 42.14
sample_std1 = 0.68
n1 = 10
sample_mean2 = 43.23
sample_std2 = 0.749
n2 = 10

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.4072466988904275

In [13]:
from scipy.stats import t

print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2)) #alpha is 0.05

P value is:  0.9984296541161014
Critical Value of z is:  -2.10092204024096